body {
    background-color: aqua;
}

#heading {
    /* border: 1px solid black; */
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

#name {
    /* border: 1px solid black; */
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

#ph {
    /* border: 1px solid black; */
    width: 320px;
    margin-left: auto;
    margin-right: auto;
}

#mail {
    /* border: 1px solid black; */
    width: 310px;
    margin-left: auto;
    margin-right: auto;
}

#button {
    /* border: 1px solid black; */
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}